    <h3 class="text-decoration-underline">Character:</h3>
    <h3>
      Name: <span class="text-danger">{{ name() }}</span>
    </h3>
    <h3>
      Power: <span class="text-danger">{{ power() }}</span>
    </h3>
    <input
      type="text"
      class="fomr-control"
      placeholder="Name"
      [value]="name()"
      (input)="name.set($event.target.value)"
    />
    <input
      type="number"
      class="fomr-control mt-2"
      placeholder="Power"
      [value]="power()"
      (input)="power.set($event.target.valueAsNumber)"
    />

    <div class="mt-2">
      <button class="btn btn-primary" (click)="addCharacter()">Add</button>
    </div>
